name: Publish Alpha
on:
  push:
    branches:
      - master

jobs:
  publish_alpha:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with: 
           fetch-depth: 0 # we need tags for melos, no better option ATM but check https://github.com/actions/checkout/issues/701
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: beta
      - name: Activate melos
        run: |
          echo "$HOME/.pub-cache/bin" >> $GITHUB_PATH
          dart pub global activate melos 6.3.3
      - name: Bootstrap melos
        run: melos bs
      - name: Configure git user
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      - run: melos version --yes -p
      - name: Setup Pub Credentials
        shell: bash
        env:
          CREDENTIALS_JSON: ${{ secrets.CREDENTIALS_JSON }}
        run: |
          mkdir -p $XDG_CONFIG_HOME/dart/
          echo $CREDENTIALS_JSON > $XDG_CONFIG_HOME/dart/pub-credentials.json
      - run: melos publish --yes --dry-run --ignore="*pokemon*"
      - run: melos publish --yes --no-dry-run --ignore="*pokemon*"
        continue-on-error: true
      - name: Push back version bumps
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
          tags: true
