name: Publish Alpha
on:
  push:
    branches:
      - master

jobs:
  publish_alpha:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Flutter
        uses: subosito/flutter-action@v1
        with:
          channel: beta
      - name: Activate melos
        run: |
          echo "$HOME/.pub-cache/bin" >> $GITHUB_PATH
          dart pub global activate melos
      - name: Bootstrap melos
        run: melos bs
      - name: Configure git user
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      - run: melos version --yes -p
      - name: Setup Pub Credentials
        shell: bash
        env:
          CREDENTIALS_JSON: ${{ secrets.CREDENTIALS_JSON }}
        run: |
          echo $CREDENTIALS_JSON > $XDG_CONFIG_HOME/dart/pub-credentials.json
      - run: melos publish --yes --dry-run --ignore="*pokemon*"
      - run: melos publish --yes --no-dry-run --ignore="*pokemon*"
      - run: git push
