name: Publish Alpha
on:
  push:
    branches:
      - master

jobs:
  publish_alpha:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Flutter
        uses: subosito/flutter-action@v1
        with:
          channel: beta
      - name: Activate melos
        run: |
          echo "$HOME/.pub-cache/bin" >> $GITHUB_PATH
          pub global activate melos
      - name: Bootstrap melos
        run: melos bs
      - name: Configure git user
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      - run: melos version --yes -p
      - name: Setup Pub Credentials
        shell: bash
        env:
          PUB_ACCESS_TOKEN: ${{ secrets.PUB_ACCESS_TOKEN }}
          PUB_REFRESH_TOKEN: ${{ secrets.PUB_REFRESH_TOKEN }}
        run: |
          sh ./scripts/pub_login.sh
      - run: melos publish --yes --dry-run --ignore="*pokemon*"
      - run: melos publish --yes --no-dry-run --ignore="*pokemon*"
      - run: git push
